<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8"/>
        <title>What's the weather?</title>
    </head>
    <body>
        <h1>Tempinho</h1>
        <div class="slideshow-container">
            <div class="mySlides fade">
                <img width="400px" height="400px" src="imgs/1.png" style="width:100%">
                <h4>Temperatura máxima</h4>
                <p>
                    {{text01}}
                </p>
                <h4>Temperatura mínima</h4>
                <p>
                    {{text02}}
                </p>
                <h4>Temperatura atual</h4>
                <p>
                    {{text03}}%
                </p>
                <h4>Temperatura aparente atual</h4>
                <p>
                    {{text04}}%
                </p>
                <h4>Probabilidade de chover</h4>
                <p>
                    {{text05}}%
                </p>
                <div class="text">Segunda-feira</div>
            </div>
        
        </div>
    </body>
</html>